.invoice_list-preview{
  background: #fff;
  padding: 20px;
  display: table;
  table-layout: auto;
  border-spacing: 0 10px;
  width: 100%;
  .invoices_title{
    color: #777877;
    margin: 0 0 20px 0;
    display: table-header-group;
  }
  .invoice_head{
    display: table-header-group;
    background: rgb(241,243,246);
    .head_item{
      display: table-cell;
      color: #abb1be;
      padding: 20px 0 20px 30px;
      font-size: 22px;
      line-height: 29px;
    }
  }
  .list_view{
    display: table-row;
    table-layout: fixed;
    width: 100%;
    height: 60px;
    .list_item{
      font-size: 18px;
      line-height: 22px;
      letter-spacing: .035em;
      color: #424242;
      display: table-cell;
      padding: 0 0 0 30px;
      vertical-align: middle;
      &.item_actions{
        text-align: center;
        button{
          color: red;
          background: transparent;
          outline: none;
          cursor: pointer;
        }
      }
      &.item_comment{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        width: 150px;
      }
    }
  }
}